/* #region RESET */
/*-------------
    debug
--------------- */
body * {
    /* border: 0.5px solid red; */
}


:root {
    --light-blue: #b4d0e7;
    --blue-btn: #0061ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    /* display: inline-block; */
}

/* #endregion  */
/* #region GENERAL */
body {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

.d-flex {
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.mg-top80 {
    margin-top: 80px;
}

hr {
    width: 20%;
    margin: 40px 30px;
    color: #6b727f;
}

/*----------------
    typography  
------------------*/
h1 {
    font-size: 80px;
    font-weight: 900;
    padding-top: 60px;
}

/*----------------
    buttons  
------------------*/
.btn {
    padding: 4px 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.btn-blue {
    background-color: var(--blue-btn);
    color: #fff;
}

.btn-white {
    background-color: #fff;
    color: #000;
}

.btn-medium {
    width: 225px;
    height: 40px;
}

.btn-large {
    width: 240px;
    height: 40px;
}

/*----------------
    columns  
------------------*/
.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

/* #endregion  */
/* #region HEADER */
header>div:first-child {
    width: 100%;
    max-height: 80px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.h-left,
.h-right {
    align-items: center;
    gap: 16px;
    margin: 0 20px;
}

header nav li {
    display: inline-block;
    padding: 8px 0;
    margin-left: 6px;
    border-bottom: 2px solid #fff;
    /* !!!check font-size: clamp(); */
}

header nav li:hover {
    border-bottom: 2px solid #000;
}

.hero-bg {
    background-color: var(--light-blue);
    margin-top: 60px;
}

.hero {
    min-height: 600px;
}

.hero-box {
    translate: 0 60px;
}


header .col-40 p {
    padding-right: 30px;
}

.hero-box button {
    margin: 30px 0;
}

.arrow-dwn {
    padding: 25px 0;
    font-size: 2.5rem;
}

/* #endregion  */
/* #region MAIN */
section>h2 {
    padding: 20px 0;
}

.input-radio {
    padding: 30px 0 50px 0;
}

.input-radio label {
    margin-right: 20px;
}

/* vertical boxes + orizontal box  */
.vert-box {
    width: calc(100% / 3);
    border: 1px solid #d0d0d3;
    color: #000021;
}

.user-plan {
    text-align: center;
    padding: 8px 0;
    font-size: .75rem;
    border-bottom: 1px solid #d0d0d3;
}

.plan-top-box {
    line-height: 2;
}

.plan-price {
    font-weight: 600;
}

.price-freq {
    color: #6b727f;
}

.plan-top-list,
.plan-top-box,
.btn-container,
.buy-now,
.plan-bottom-list {
    padding: 0 30px;

}

.btn-container {
    margin: 40px 0;
}

.vert-box .buy-now {
    font-size: 14px;
}

.visited-link {
    text-decoration: underline;
    color: -webkit-link;
    cursor: pointer;
}

/*------------------------- 
    special list items 
--------------------------*/
.plan-top-list ul,
.plan-bottom-list ul {
    --icon-space: 1.3em;
}

.plan-top-list li,
.plan-bottom-list li {
    padding-left: var(--icon-space);
    margin-bottom: 20px;
    font-size: 14px;
}

.special-li:before {
    font-family: 'FontAwesome';
    display: inline-block;
    margin-left: calc(var(--icon-space) * -1);
    width: var(--icon-space);
}

.user-li:before {
    content: "\f007";
}

.storage-li:before {
    content: "\f07b";
}

.sharing-li:before {
    content: "\f1e0";
}

.check-li:before {
    content: "\f00c";
    color: #0061ff;
}

/* #endregion  */
/* #region FOOTER */

/* #endregion  */