/* #region RESET */
:root {
    --light-blue: #b4d0e7;
    --blue-btn: #0061ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* #endregion  */
/* #region TAILWIND PRESET */
/* display */
.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-table {
    display: table;
}

.d-flex {
    display: flex;
}

/*---- wrap ----*/
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/* ---- align-content ---- */
.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

/* ---- align-items ---- */
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

/* ---- justify-content ---- */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

/* ---- flex-direction ---- */
.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* MARGIN (m) e PADDING (p) */
.m-auto {
    margin: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

/* TEXT */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* BORDERS */
.border {
    border: 1px solid;
}

.no-border {
    border: none;
}

.border-top {
    border-top: 1px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}

.border-right {
    border-right: 1px solid;
}

.border-left {
    border-left: 1px solid;
}

/* #endregion  */
/* #region UTILITY */
/*----------------
    margin  
------------------*/
/* 20 */
.m-y-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-x-20 {
    margin-right: 20px;
    margin-left: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

/* 30 */
.m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-x-30 {
    margin-right: 30px;
    margin-left: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

/* 40 */
.m-y-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.m-t-40 {
    margin-top: 40px;
}

/* 60 */
.m-b-60 {
    margin-bottom: 60px;
}

.m-t-60 {
    margin-top: 60px;
}

/* 80 */
.m-t-80 {
    margin-top: 80px;
}

/*----------------
    padding  
------------------*/
/* 10 */
.p-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

/* 20 */
.p-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 30 */
.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-r-30 {
    padding-right: 30px;
}

/* 50 */
.p-b-50 {
    padding-bottom: 50px;
}

/* 60 */
.p-t-60 {
    padding-top: 60px;
}

/*----------------
    columns  
------------------*/
.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

/*----------------
    gap  
------------------*/
.gap-20 {
    gap: 20px;
}

/* #endregion  */
/* #region GENERAL */
body {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.container-small {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
}

hr {
    width: 20%;
    margin: 40px 30px;
    color: #6b727f;
}

/*----------------
    typography  
------------------*/
h1 {
    font-size: 80px;
    font-weight: 900;
    padding-top: 60px;
}

/*----------------
    buttons  
------------------*/
.btn {
    padding: 6px 10px;
    cursor: pointer;
    background-color: transparent;
}

.btn-blue {
    border: none;
    background-color: var(--blue-btn);
    color: #fff;
}

.btn-white {
    background-color: #fff;
    color: #000;
}

.btn-fit {
    width: fit-content;
    padding: 10px 18px;
}

.btn-100 {
    width: 100%;
    padding: 12px 18px;
}

/*----------------
    min-height  
------------------*/
.min-h-500 {
    min-height: 500px;
}

.min-h-350 {
    min-height: 350px;
}

/* #endregion  */
/* #region HEADER */
header>div:first-child {
    max-height: 80px;
    background-color: #fff;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.h-left,
.h-right {
    gap: 16px;
}

header nav li {
    padding: 8px 4px;
    margin-left: 6px;
    border-block: 2px solid #fff;
}

header nav li:hover {
    border-block: 2px solid #000;
}

.hero-bg {
    background-color: var(--light-blue);
}

.hero {
    min-height: 600px;
}

.hero-box {
    translate: 0 60px;
}

.arrow-dwn {
    font-size: 2.5rem;
}

/* #endregion  */
/* #region MAIN */

/* vertical boxes + orizontal box  */
.box-container {
    gap: 20px;
}

.col {
    border: 1px solid #d0d0d3;
    color: #000021;
    padding-bottom: 30px;

}

.vert-box {
    width: calc(100% / 3 - 14px);
    /* !!!check */
}

.user-plan {
    padding: 8px 0;
    font-size: .75rem;
    border-bottom: 1px solid #d0d0d3;
}

.plan-price {
    font-weight: 600;
    font-size: 14px;
}

.price-freq {
    color: #6b727f;
}

.plan-top-list {
    min-height: 180px;
}

.btn-container {
    margin: 30px 0;
}

.vert-box .buy-now {
    font-size: 14px;
}

.visited-link {
    text-decoration: underline;
    color: -webkit-link;
    cursor: pointer;
}

section h2 {
    font-size: 26px;
}

.dropbox-business {
    width: calc(100% / 3 - 20px);
}

.dropbox-business h3 {
    padding-bottom: 20px;
}

.faq .question {
    border-top: 1px solid #999999;
    padding-block: 30px;
}

.faq .question:last-child {
    border-bottom: 1px solid #999999;
}

/*------------------------- 
    custom radio button 
--------------------------*/
.faq input {
    display: none;
}

.faq label {
    display: block;
    cursor: pointer;
    border-radius: 3px;
    color: #000;
    transition: ease .5s;
    position: relative;
}

.question:hover {
    background: var(--light-blue);
}

.faq label::after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 2px;
    margin-right: 14px;
}

.faq input:checked+.faq label::after {
    content: '\f106';
    font-family: 'FontAwesome';
    font-size: 16px;
    right: 14px;
    top: 3px;
    margin-right: 14px;

}

.content {
    padding-top: 20px;
    border-radius: 3px;
    margin-right: 40px;
}

input+label+.collapse {
    display: none;
}

input:checked+label+.collapse {
    display: block;
}

/*------------------------- 
    special list items 
--------------------------*/

.icon {
    padding-right: 10px;
}

.icon-text-wrapper {
    display: flex;
}

.icon-text-wrapper {
    margin-block: 20px;
}

.fa-check {
    color: #0061ff;
}

/* square section  */

.brand-box>div {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    overflow-y: auto;
    flex-wrap: wrap;

}

.square {
    height: 50%;
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square svg {
    fill: #fff;
    width: 60%;
    height: 100%;
    display: block;

}

.text-box {
    background-color: #f5f5f5;
    flex-grow: 1;
    /* align-self: stretch;
    max-height: 100%; */
    padding: 30px 30px;
}

.text-box svg {
    width: 80%;
}

.text-box hr {
    margin-inline: 0;
}

.text-box p {
    padding-bottom: 20px;
    font-size: 14px;
}

.square-green {
    background-color: #a2d39b;
    border: 0.3em solid #d1e9cd;
}

.square-purple {
    background-color: #61082b;
}

.square-pacific-blue {
    background-color: #0093ce;
}

.square-scarlet-red {
    background-color: #ff1c1c;
}

.square-red {
    background-color: #d5001f;
}

.square-pale-blue {
    background-color: #b4d0e7;
}

.square-blue {
    background-color: #0d2481;
}

.square-yellow {
    background-color: #ffd830;
}

/* #endregion  */
/* #region FOOTER */
footer {
    background-color: #000;
    color: #fff;
}

.footer-list .col-20>h4 {
    padding-bottom: 30px;
}

.footer-list li a:hover,
.footer-list-small label:hover {
    color: #0093ce;
}

.footer-list li {
    font-size: 14px;
    padding-bottom: 20px;
}

footer hr {
    margin-inline: 0;
    width: 10%;
}

footer .language {
    color: #999999;
    font-size: 14px;
    word-spacing: 8px;
    cursor: pointer;
    width: fit-content;
    padding-bottom: 60px;
}

.languages {
    text-align: center;
    display: none;
}

footer .language:hover .languages {
    display: block;
}

.languages li:hover {
    background-color: #0093ce;
    border-radius: 5px;
    color: #000;

}

/*------------------------- 
footer list small
--------------------------*/
.footer-list-small {
    display: none;
}

.footer-list-small {
    margin: 30px;
}

.footer-list-small li {
    padding-block: 10px;
    display: flex;
    gap: 80px;
}

.footer-list-small input {
    display: none;
}

.footer-list-small label {
    display: block;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    transition: ease .5s;
    position: relative;
}

.question:hover {
    background: var(--light-blue);
}

.faq label::after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 2px;
    margin-right: 14px;
}

.faq input:checked+.faq label::after {
    content: '\f106';
    font-family: 'FontAwesome';
    font-size: 16px;
    right: 14px;
    top: 3px;
    margin-right: 14px;

}

.content {
    padding-top: 20px;
    border-radius: 3px;
    margin-right: 40px;
}

input+label+.collapse {
    display: none;
}

input:checked+label+.collapse {
    display: block;
}

/* #endregion  */
/* #region MEDIA QUERIES */
@media screen and (max-width: 880px) {

    /* HEADER  */
    /* top header  */
    .top-header .h-left nav ul,
    .top-header .h-right nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 14px;
        text-align: center;
    }

    .top-header .h-left nav li,
    .top-header .h-right nav li {
        padding: 0;
    }

    .top-header .h-right button {
        padding: 6px;
    }

    /* bottom header  */
    .hero h1 {
        font-size: 40px;
        text-align: center;
    }

    .hero h1,
    .hero-box .col-40 {
        padding-inline: 20px;
    }

    .hero-box {
        display: flex;
        flex-direction: column-reverse;
        font-size: 14px;
    }

    .hero-box .col-60,
    .hero-box .col-40 {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .hero-box .arrow-dwn {
        padding-top: 10px;
        padding-bottom: 40px;
    }

    /* MAIN  */
    /* section 1  */
    section:not(.brand-box),
    footer {
        padding-inline: 20px;
    }

    section .input-radio,
    .box-container .plan-top-list,
    .box-container .plan-bottom-list {
        font-size: 14px;
    }

    section h2,
    section .input-radio {
        text-align: center;
    }

    section .box-container h3 {
        font-size: 16px;
    }

    section .box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section .box-container .vert-box {
        width: 100%
    }

    section .box-container .col-100 div:not(.user-plan) {
        display: flex;
        flex-direction: column;
    }

    section .box-container .col-100 div:not(.user-plan) .plan-top-box,
    section .box-container .col-100 div:not(.user-plan) .btn-container {
        width: 80%;
        text-align: left;
    }

    section .box-container .col-100 div:not(.user-plan) .btn-container {
        align-self: center;
        margin-bottom: 0;
    }


    section .box-container .plan-top-box {
        padding-inline: 30px;
    }

    section .box-container .vert-box .btn-container {
        width: 80%;
        margin: 0 auto 20px auto;
    }

    /* section 2  */
    .find-partner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .find-partner .col-60,
    .find-partner .col-40 {
        width: 100%;
        text-align: center;
    }

    /* section 3  */
    .operations div {
        justify-content: center;
    }

    .operations div>div {
        width: 90%;
        text-align: center;
        align-items: center;
    }

    .operations div>div img {
        width: 80%;
        text-align: center;
    }

    /* section 4  */
    .team {
        text-align: center;
    }

    .team h2,
    .free-trial h2 {
        font-size: 22px;
    }

    .brand-box div[class*="d-flex"] {
        width: 50%;
        height: 50%;
        order: -1;
    }

    .brand-box .text-box {
        width: 100%;
        height: 50%;
    }

    .brand-box .text-box svg {
        width: 60%;
    }

    .brand-box .text-box p {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .brand-box .text-box hr {
        margin-block: 20px;
    }

    /* section 5  */
    .free-trial {
        display: flex;
        flex-direction: column;
    }

    .free-trial .col-60,
    .free-trial .col-40 {
        width: 100%;
        text-align: center;
    }

    /* section 6  */
    .faq h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .faq .question {
        font-size: 14px;
    }

    /* footer  */
    footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .container-fluid {
        max-height: fit-content;
    }


    footer .footer-list a {
        font-size: 12px;
    }

    .footer-list {
        display: none;
    }

    .footer-list-small {
        display: block;
    }

    footer hr {
        display: none;
    }

    footer .language {
        margin-right: 30px;
        margin-bottom: -30px;
        align-self: flex-end;
    }
}

/* #endregion  */